@import url(https://fonts.googleapis.com/css?family=Google+Sans:400,700,i,bi);

* {
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

button {
  border: none;
  background-color: white;
  border-right: 1px solid rgb(218, 220, 224);
}

span[onclick] {
  cursor: default;
  text-align: left;
}

select, input[type=number] {
  width: auto;
}

#editor {
  width: calc(100% - 2px);
  border: 1px solid rgb(218, 220, 224);
  height: calc(100vh - 50px);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border-top: none;
}

#toolbar {
  border-top: 1px solid rgb(218, 220, 224);
  border-bottom: 1px solid rgb(218, 220, 224);
  cursor: default;
}
#save {
  text-align: left;
}
